<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Service après-vente (REST Java Client avec IHM Web) </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../static.css/main.css" />
    </head>
    <body>
        <h1>Détails d'une commande btenue avec client JAX-RS</h1>

        <div id="main">
            <div>
                <a th:href="@{/commandes}">Liste des commandes</a>
            </div> 
            <div id="entete">
                <label>Num&eacute;ro Commande : </label> <label th:text="${commande?.identifiant}"/><br/>
                <label>Nom client : </label> <label th:text="${commande?.client?.nom}"/><br/>
                <label>Date prise de commande : </label><label th:text="${commande?.date}"/>      
            </div>
            <div id="contenu">
                <span th:if="${delete} != null">
                      <input type="submit" id="submitButton" th:value="Supprimer"/>
                </span>
                <div>
                    Produits command&eacute;s:
                    <table id="tableau" class="Tableau">
                        <tr>
                            <th>Produit</th>
                            <th>Quantit&eacute;</th>
                            <th>Montant</th>
                        </tr>
                        <tr th:each="ligne : ${commande?.lignes}">
                            <td th:text="${ligne?.produit?.nom}"></td>
                            <td class="qte"  th:text="${ligne?.quantite}"></td>
                            <td  class="montant"> € <span  th:text="${#numbers.formatDecimal(ligne?.montant, 0, 'COMMA', 2, 'POINT')}"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="labelmontant">Montant total</td>
                            <td  class="montant"> € <span  th:text="${#numbers.formatDecimal(commande?.montant, 0, 'COMMA', 2, 'POINT')}"></span></td>                      
                        </tr>
                    </table>
                </div>
                <div id='liens'>
                    Obtenu grace aux links dans les ent&ecirc;tes HTTP Link => HateOAS 
                    <div th:each="link : ${links}">
                        <a th:href="${link.uri}"><label th:text="${link.rel}"></label></a>
                    </div>
                </div>                   
            </div>

        </div>
    </body>
</html>
