<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page d'erreur</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>
    <h1>Probl&egrave;mes rencontr&eacute;s</h1>
   <h2>
        <span th:text="'Erreur : ' + ${erreur?.message}"></span>
   </h2>


</body>
</html>