<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Service après-vente (REST Java Client avec IHM Web) </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../static.css/main.css" />
    </head>
    <body>
        <h1>Cr&eacute;er une commande (utilisation d'un client JAX-RS)</h1>
        <div id="main">

            <form th:action="@{/commandes}" th:object="${commandeF}" method="post">
                <fieldset>
                    <input type="submit" id="submitButton" th:value="Valider"/>
                    <input type="reset" id="resetButton" name="reset" th:value="Reset"/> 
                    <br/>
                    <label for="idClient">Identifiant client</label>
                    <input type="text"  id="idClient" placeholder="cccccccc-cccc-cccc-cccc-cccccccc" th:field="*{idClient}"/>

                    <table class="Tableau">
                            <tr>
                                <th>Identifiant produit</th>
                                <th>Quantit&eacute;</th>
                            </tr>
                            <tr th:each="ligne, item : *{lignes}">
                                <td>
                                    <label for="idprod">Id. Produit</label>
                                    <input type="text"  id="idprod" placeholder="12345678-1234-1234-12345678" th:field="*{lignes[__${item.index}__].idProduit}"/>
                                </td>
                                <td>
                                    <label for="qte">quantit&eacute;</label>
                                    <input type="number"  id="idprod" placeholder="" th:field="*{lignes[__${item.index}__].quantite}"/>
                                </td>
                            </tr>
                    </table>
                </fieldset>
            </form>
        </div>
    </body>
</html>

