<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Service après-vente (REST Java Client avec IHM Web) </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../static.css/main.css" />
    </head>
    <body>
        <h1>Liste des commandes obtenue avec client JAX-RS</h1>

        <div id="main">
            <div>
                <a th:href="@{/commandes/formCreation}">Créer une commande</a>
            </div>  
                <br/>            
            <div id="contenu">
                <div>
                    <table id="tableau" class="Tableau">
                        <tr>
                            <th>Identifiant</th>
                            <th>Client</th>
                            <th>Date</th>
                            <th>Montant</th>
                        </tr>
                        <tr th:each="commande : ${listeCommandes}">
                            
                            <td>
                               <a th:href="'details/' + ${commande?.identifiant}" th:text="${commande?.identifiant}" />
                            </td>
                            <td th:text="${commande?.client?.nom}"></td>
                            <td th:text="${commande?.date}"></td>
                             <td class="montant" id="montantglobal"> € <span  th:text="${#numbers.formatDecimal(commande?.montant, 0, 'COMMA', 2, 'POINT')}"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </body>
</html>
